body {
    font-size: 15pt;
    background-image:url('Images/background.png');
}
.disc p{
  font-size: 20px;
  color:#fff;
}
.disc a{
  color:#52B43E;
}
.time{
  display:flex;
  position: center;
}
.time div{
  flex-basis: 100px;
}
.time div p{
  font-size: 30px;
  color:#fff;
}
.btn button{
  background: transparent;
  padding:12px 20px;
  margin:50px 100px;
  align-items: center;
  cursor: pointer;
  display: flex;
}
.btn img{
  width:15px;
  margin-left: 9px;
}